@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('/css/fonts.css'); */

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins";
    }

    body::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar in Firefox */
    body {
        scrollbar-width: none;
        overflow-y: scroll; /* Prevent layout shift */
    }

    /* Hide the default clear button (x) in search inputs */
    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }

    select {
        /* for Firefox */
        -moz-appearance: none;
        /* for Safari, Chrome, Opera */
        -webkit-appearance: none;
    }
    select::-ms-expand {
        display: none;
    }

    #user-sidebar::-webkit-scrollbar {
        /* Customize the scrollbar width */
        width: 0px;
    }

    #user-sidebar::-webkit-scrollbar-track {
        /* Customize the scrollbar track */
        border-radius: 0px;
    }

    #user-sidebar::-webkit-scrollbar-thumb {
        /* Customize the scrollbar thumb for WebKit browsers */
    }

    #user-sidebar::-moz-scrollbar {
        /* Customize the scrollbar thumb for Mozilla browsers */
        width: 0px;
        border-radius: 0px;
    }
    /* Customize the scrollbar thumb */

    #user-sidebar {
        cursor: grab; /* Change cursor to indicate draggable element */
    }
    #user-sidebar {
        cursor: grab; /* Change cursor to indicate draggable element */
        user-select: none; /* Disable text selection */
        -webkit-user-select: none; /* Disable text selection for WebKit browsers */
        -moz-user-select: none; /* Disable text selection for Firefox */
        -ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
    }

    .slide-indicator {
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    }

    #loading-screen {
        opacity: 1;
        visibility: visible;
    }
    .caret-down {
        transition: transform 0.3s ease;
    }

    .featured-img {
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
}

@layer components {
    .button-black {
        @apply bg-black text-white border-black;
    }
}
